input,label{
    display: flex;
    
}
button,label{
    margin-top: 20px;
}
form{
    margin-left: 50px;
}
fieldset label,input{
    display: inline;
}
fieldset{
    width: 20%;
    margin-top: 1%;
}